<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"><title>Recuperar Contraseña</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"></head>
<body class="bg-texture">
<section class="producto">
<div class="box login">
<h2>Recuperar Contraseña</h2>
<form method="POST" th:action="@{/olvide_password}">
    <input type="email" name="correo" placeholder="Tu correo electrónico" required>
    <button class="btn-pink">Enviar enlace</button>
    <p th:text="${mensaje}" style="color:#e35d7a; margin-top:10px;"></p>
</form>
<a href="/" style="font-size:13px; color:#b05667;">Volver al login</a>
</div>
</section>
<footer>© 2026 Delicias Candy House</footer>
</body>
</html>
