<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"><title>Nueva Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"></head>
<body class="bg-texture">
<section class="producto">
    <div class="box login">
        <h2>Nueva Contraseña</h2>
        <form method="POST" th:action="@{/resetear_password/{token}(token=${token})}">
            <input type="password" name="password" placeholder="Nueva contraseña" minlength="8" maxlength="15" required>
            <input type="password" name="confirm"  placeholder="Confirmar contraseña" minlength="8" maxlength="15" required>
            <button class="btn-green">Guardar</button>
            <p th:text="${mensaje}" style="color:#e35d7a; margin-top:10px;"></p>
        </form>
    </div>
</section>
<footer>© 2026 Delicias Candy House</footer>
</body>
</html>